@page
@model Bookstore.Pages.OrderCompletedModel
@{
}

<div class="text-center">
    <h2>Your order has been processed and will be shipped. Thank you!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>