@page
@model Bookstore.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Your purchase has been processed. Thank you!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>