<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">BLAH BOOKSTORE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Admin</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-right navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><div class="navbar-brand text-white"><vc:cart-summary /></div></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>




    @*<div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="navbar-header">
                        <a class="navbar-brand text-white" href="#">BLAH BOOKSTORE</a>
                    </div>
                </div>
                <div class="col">
                    <ul class="nav navbar-nav">
                        <li><a class="text-white" href="#">Home</a></li>
                        <li><a class="text-white" href="/admin">Admin</a></li>
                    </ul>
                </div>
                <div class="col-6 text-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><div class="navbar-brand"><vc:cart-summary /></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <vc:types></vc:types>
            <br />
            <img src="~/lib/img/books.jpg" class="img-fluid" />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
